 * {
 box-sizing: border-box;
 }
 
 body {
 padding: 1.25em;
 font-size: 16px;
 font-family: 'Roboto', sans-serif;
 font-weight: 300;
 }
 
 #container {
  width:980px;
 }
 
.header { height: 100px; margin: auto; }

input { margin: 1em auto 0 auto; display: block; }
 
 input[type="search"] {
 width: 460px;
 border: 1px solid #e5e5e5;
 border-radius: 5px;
 padding: .75em;
 
}

figure img {
width: 200px;
}

.row {
width: 100%;
margin: 0;
display: inline-block;
}

.row:before,
.row:after {
content: " ";
display: table;
}
.row:after {
clear: both;
} `

.col {
position: relative;
float: left;
padding-left: 15px;
padding-right: 15px;
}

.first { padding-left: 0; }
.last { padding-right: 0; }

.col3 { width: 23.8%; }

.col12 { width: 100%; }

div, figure { display: inline-block; }